/blocks/couponext/node_modules/
/autovalutazione/
/admin
/analytics
/availability
/backup
/badges
/blocks/activity_modules
/blocks/activity_results
/blocks/admin_bookmarks
/blocks/badges
/blocks/blog_menu
/blocks/blog_recent
/blocks/blog_tags
/blocks/calendar_month
/blocks/calendar_upcoming
/blocks/classes
/blocks/comments
/blocks/completionstatus
/blocks/course_list
/blocks/course_summary
/blocks/feedback
/blocks/globalsearch
/blocks/glossary_random
/blocks/html
/blocks/login
/blocks/lp
/blocks/mentees
/blocks/mnet_hosts
/blocks/myoverview
/blocks/myprofile
/blocks/navigation
/blocks/news_items
/blocks/online_users
/blocks/private_files
/blocks/quiz_results
/blocks/recent_activity
/blocks/recentlyaccessedcourses
/blocks/recentlyaccesseditems
/blocks/rss_client
/blocks/search_forums
/blocks/section_links
/blocks/selfcompletion
/blocks/settings
/blocks/site_main_menu
/blocks/social_activities
/blocks/starredcourses
/blocks/tag_flickr
/blocks/tag_youtube
/blocks/tags
/blocks/tests
/blocks/timeline
/blocks/edit_form.php
/blocks/index.html
/blocks/moodleblock.class.php
/blocks/upgrade.txt
/blog
/cache
/calendar
/cohort
/comment
/competency
/completion
/course
/customfield
/dataformat
/enrol
/error
/favourites
/files
/filter
/grade
/group
/h5p
/install
/iplookup
/lang
/lib
/local
/login
/media
/message
/mnet
/mod
/my
/node_modules
/notes
/pix
/plagiarism
/portfolio
/privacy
/question
/rating
/report
/repository
/rss
/search
/tag
/theme
/user
/userpix
/webservice
/.*
/*.js
/behat.yml.dist
/*.php
/composer.json
/composer.lock
/*.txt
/ERROR.pdf
